# MongoDB root credentials
MONGO_ROOT_USERNAME=MONGO_ROOT_USERNAME
MONGO_ROOT_PASSWORD=MONGO_ROOT_PASSWORD

# Mongo Express (login web)
MONGO_EXPRESS_USER=MONGO_EXPRESS_USER
MONGO_EXPRESS_PASS=MONGO_EXPRESS_PASS
