# MongoDB root credentials
MONGO_ROOT_USERNAME=MONGO_ROOT_USERNAME
MONGO_ROOT_PASSWORD=MONGO_ROOT_PASSWORD

# Mongo Express (login web)
MONGO_EXPRESS_USER=MONGO_EXPRESS_USER
MONGO_EXPRESS_PASS=MONGO_EXPRESS_PASS

# RabbitMQ credentials (web management UI)
RABBITMQ_USER=RABBITMQ_USER
RABBITMQ_PASS=RABBITMQ_PASS

# Redis (dev setup - no auth by default)
REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT