# =========================================================
# .NET IConfiguration Binding
# =========================================================

# Mongo
Mongo__Database=${MONGO_DATABASE}
Mongo__ConnectionString=${MONGO_CONNECTION_STRING}

# Redis
Redis__ConnectionString=${REDIS_CONNECTION_STRING}

# RabbitMQ
RabbitMQ__User=${RABBITMQ_USER}
RabbitMQ__Pass=${RABBITMQ_PASS}
RabbitMQ__ConnectionString=${RABBITMQ_CONNECTION_STRING}

# JWT
Jwt__Key=${JWT_KEY}
Jwt__Issuer=${JWT_ISSUER}
Jwt__Audience=${JWT_AUDIENCE}
Jwt__ExpireMinutes=${JWT_EXPIRE_MINUTES}

# Refresh Tokens
Refresh__ExpireDays=${REFRESH_EXPIRE_DAYS}

# Cloudinary
Cloudinary__CloudName=${CLOUDINARY_CLOUD_NAME}
Cloudinary__ApiKey=${CLOUDINARY_API_KEY}
Cloudinary__ApiSecret=${CLOUDINARY_API_SECRET}
